
var url = require('url');
{{#operations}}

var {{classname}} = require('./{{classname}}Service');
{{#operation}}

module.exports.{{classname}}_{{{operationId}}} = function (req, res, next) {
  {{classname}}.{{classname}}_{{operationId}}(req, res, next);
};

module.exports.{{classname}}_{{{operationId}}}_mock = function (req, res, next) {
  {{classname}}.{{classname}}_{{operationId}}_mock(req, res, next);
};

{{/operation}}
{{/operations}}
