{{#operations}}
{{#operation}}

exports.{{{classname}}}_{{{operationId}}} = function(req, res, next) {

    req.refTramitador.tramitar(

        "{{{classname}}}.{{{operationId}}}", 

        {
            args: req.swagger.params, 

            res: res, 

            swagger: req.swagger.swaggerObject,

            producto: "{{{returnType}}}",

    {{#vendorExtensions}}
                
        {{#x-catro-eixos-diferido}}
            esDiferida: {{{x-catro-eixos-diferido}}},    
        {{/x-catro-eixos-diferido}}
        {{^x-catro-eixos-diferido}}
            esDiferida: false,   
        {{/x-catro-eixos-diferido}}
                    
    {{/vendorExtensions}}

        }

    );

}

exports.{{{classname}}}_{{{operationId}}}_mock = function(req, res, next) {

    {{#returnType}}
        var examples = {};
        {{#examples}}
            examples['{{contentType}}'] = {{{example}}};
        {{/examples}}
    
        if (Object.keys(examples).length > 0) {
            res.setHeader('Content-Type', 'application/json');
            res.end(JSON.stringify(examples[Object.keys(examples)[0]] || {}, null, 2));
        } else {
            res.end();
        }
    
    {{/returnType}}
        {{^returnType}}
            res.end();
    {{/returnType}}
}

{{/operation}}
{{/operations}}
